<section
  id="icon-row-container"
  class="relative w-full overflow-hidden"
>
  <div class="marquee w-full overflow-hidden" data-base-speed="1.2">
    <div
      id="moving-icon-row"
      class="inner flex flex-nowrap whitespace-nowrap will-change-transform"
    >
      <div class="track flex shrink-0 items-center">
        <img src="/images/Rood/Rood Bonen.png" alt="" />
        <img src="/images/Geel/Geel Cirkel.png" alt="" />
        <img src="/images/Groen/Groen Hoek.png" alt="" />
        <img src="/images/Blauw/Blauw ZigZag.png" alt="" />
      </div>

      <div class="track flex shrink-0 items-center">
        <img src="/images/Geel/Geel Bonen.png" alt="" />
        <img src="/images/Groen/Rood Cirkel.png" alt="" />
        <img src="/images/Blauw/Blauw Hoek.png" alt="" />
        <img src="/images/Rood/Rood ZigZag.png" alt="" />
      </div>

      <div class="track flex shrink-0 items-center">
        <img src="/images/Groen/Groen Bonen.png" alt="" />
        <img src="/images/Blauw/Blauw Cirkel.png" alt="" />
        <img src="/images/Rood/Rood Hoek.png" alt="" />
        <img src="/images/Geel/Geel ZigZag.png" alt="" />
      </div>

      <div class="track flex shrink-0 items-center">
        <img src="/images/Geel/Geel Bonen.png" alt="" />
        <img src="/images/Groen/Rood Cirkel.png" alt="" />
        <img src="/images/Blauw/Blauw Hoek.png" alt="" />
        <img src="/images/Rood/Rood ZigZag.png" alt="" />
      </div>
    </div>
  </div>
</section>
